In [11]:
import pandas as pd
import numpy as np
data=pd.read_csv("C:\\Users\\91814\\Downloads\\Data (1)\\Data\\dataset.csv")
print(data)

            Day      Date  CodedDay  Zone  Weather  Temperature  Traffic
0     Wednesday  01-06-18         3     2       35           17        2
1     Wednesday  01-06-18         3     3       36           16        3
2     Wednesday  01-06-18         3     4       27           25        5
3     Wednesday  01-06-18         3     5       23           23        3
4     Wednesday  01-06-18         3     6       18           42        2
...         ...       ...       ...   ...      ...          ...      ...
1434     Friday  10-06-18         5   140       47           38        1
1435     Friday  10-06-18         5   141       15            8        4
1436     Friday  10-06-18         5   142       26           38        1
1437     Friday  10-06-18         5   143       16           34        3
1438     Friday  10-06-18         5   144       16           17        1

[1439 rows x 7 columns]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          1439 non-null   object
 1   Date         1439 non-null   object
 2   CodedDay     1439 non-null   int64
 3   Zone         1439 non-null   int64
 4   Weather      1439 non-null   int64
 5   Temperature  1439 non-null   int64
 6   Traffic      1439 non-null   int64
dtypes: int64(5), object(2)
memory usage: 78.8+ KB

In [25]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
data['Date']= le.fit_transform(data['Date'])
data['Day']= le.fit_transform(data['Day'])

data.tail(10)

      Day  Date  CodedDay  Zone  Weather  Temperature  Traffic
1429    0     9         5   135       18           25        4
1430    0     9         5   136       31            8        2
1431    0     9         5   137       13           11        4
1432    0     9         5   138       34           15        1
1433    0     9         5   139        5           43        4
1434    0     9         5   140       47           38        1
1435    0     9         5   141       15            8        4
1436    0     9         5   142       26           38        1
1437    0     9         5   143       16           34        3
1438    0     9         5   144       16           17        1

In [29]:
output=data.drop(['Day','Date','CodedDay','Zone','Weather','Temperature'],axis=1)
inputs=data.drop(['Traffic'],axis=1)
print(inputs)
print(output)

      Day  Date  CodedDay  Zone  Weather  Temperature
0       6     0         3     2       35           17
1       6     0         3     3       36           16
2       6     0         3     4       27           25
3       6     0         3     5       23           23
4       6     0         3     6       18           42
...   ...   ...       ...   ...      ...          ...
1434    0     9         5   140       47           38
1435    0     9         5   141       15            8
1436    0     9         5   142       26           38
1437    0     9         5   143       16           34
1438    0     9         5   144       16           17

[1439 rows x 6 columns]
      Traffic
0           2
1           3
2           5
3           3
4           2
...       ...
1434        1
1435        4
1436        1
1437        3
1438        1

[1439 rows x 1 columns]

In [108]:
import sklearn
import math
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,train_size=0.8)
import sklearn
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
res=model.predict([[6,0,3,2,35,17]])
print(res)
acc=model.score(inputs,output)
print("accuracy:",math.ceil(acc*100))

[3]
accuracy: 47

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [40]:
import pandas as pd
import numpy as np
data=pd.read_csv("C:\\Users\\91814\\Downloads\\Data (1)\\Data\\dataset.csv")
print(data)

            Day      Date  CodedDay  Zone  Weather  Temperature  Traffic
0     Wednesday  01-06-18         3     2       35           17        2
1     Wednesday  01-06-18         3     3       36           16        3
2     Wednesday  01-06-18         3     4       27           25        5
3     Wednesday  01-06-18         3     5       23           23        3
4     Wednesday  01-06-18         3     6       18           42        2
...         ...       ...       ...   ...      ...          ...      ...
1434     Friday  10-06-18         5   140       47           38        1
1435     Friday  10-06-18         5   141       15            8        4
1436     Friday  10-06-18         5   142       26           38        1
1437     Friday  10-06-18         5   143       16           34        3
1438     Friday  10-06-18         5   144       16           17        1

[1439 rows x 7 columns]

In [41]:
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          1439 non-null   object
 1   Date         1439 non-null   object
 2   CodedDay     1439 non-null   int64
 3   Zone         1439 non-null   int64
 4   Weather      1439 non-null   int64
 5   Temperature  1439 non-null   int64
 6   Traffic      1439 non-null   int64
dtypes: int64(5), object(2)
memory usage: 78.8+ KB
None
Day            0
Date           0
CodedDay       0
Zone           0
Weather        0
Temperature    0
Traffic        0
dtype: int64

In [57]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
data['Date']= le.fit_transform(data['Date'])
data['Day']= le.fit_transform(data['Day'])
print(data)

      Day  Date  CodedDay  Zone  Weather  Temperature  Traffic
0       6     0         3     2       35           17        2
1       6     0         3     3       36           16        3
2       6     0         3     4       27           25        5
3       6     0         3     5       23           23        3
4       6     0         3     6       18           42        2
...   ...   ...       ...   ...      ...          ...      ...
1434    0     9         5   140       47           38        1
1435    0     9         5   141       15            8        4
1436    0     9         5   142       26           38        1
1437    0     9         5   143       16           34        3
1438    0     9         5   144       16           17        1

[1439 rows x 7 columns]

In [58]:
output=data.drop(['Day','Date','CodedDay','Zone','Weather','Temperature'],axis=1)
inputs=data.drop(['Traffic'],axis=1)
print(inputs)
print(output)

      Day  Date  CodedDay  Zone  Weather  Temperature
0       6     0         3     2       35           17
1       6     0         3     3       36           16
2       6     0         3     4       27           25
3       6     0         3     5       23           23
4       6     0         3     6       18           42
...   ...   ...       ...   ...      ...          ...
1434    0     9         5   140       47           38
1435    0     9         5   141       15            8
1436    0     9         5   142       26           38
1437    0     9         5   143       16           34
1438    0     9         5   144       16           17

[1439 rows x 6 columns]
      Traffic
0           2
1           3
2           5
3           3
4           2
...       ...
1434        1
1435        4
1436        1
1437        3
1438        1

[1439 rows x 1 columns]

In [59]:
import sklearn
import math
from sklearn import linear_model
model=linear_model.LinearRegression()
model.fit(inputs,output)
res=model.predict([[6,0,3,2,35,17]])
print(res)

[[3.07872736]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [70]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)*100
print(acc)

18.75

In [64]:

X = data.iloc[:, 2:6].values
y = data.iloc[:, 6:7].values
     
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 300, random_state = 0)
regressor.fit(X_train,y_train)

C:\Users\91814\AppData\Local\Temp\ipykernel_3412\1625651544.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=300, random_state=0)

In [65]:
y_pred = regressor.predict(X_test)

if(y_pred.all()<2.5):
    y_pred=np.round(y_pred-0.5)
else:
    y_pred=np.round(y_pred+0.5)
df1=(y_pred-y_test)/y_test
df1=round(df1.mean()*100,2)
print("Error = ",df1,"%") 
a=100-df1
print("Accuracy= ",a,"%")

Error =  13.42 %
Accuracy=  86.58 %